
@{
    ViewData["Title"] = "Umair";
}
@section StyleLink{
    <link href="~/css/order-online.css" rel="stylesheet" />
}
<!-- Start Pages Title  -->
<section id="page-title" class="page-title-style2">
    <div class="color-overlay"></div>
    <div class="container inner-img">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h6>A Great Service</h6>
                        <h2 class="page-title">Order  from 10 of our best Chefs.</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="breadcrumb-trail breadcrumbs">
                        <span class="trail-begin"><a href="#">Home</a></span>
                        <span class="sep">/</span> <span class="trail-end">Chefs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pages Title  -->
<!-- Content Start -->
<main class="main-content">

    <!-- Content Start -->
    <!-- Start order-online-->
    <div id="order-online">
        <div class="container">
            <!-- start order online header top -->
            <div class="row order-online-top-header margin-right-zero">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-pad">
                    <div class="orderonline-search clearfix">
                        <div class="openclose-message">
                            <p>A 24 by 7 Service!</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end order online header top -->

            <div class="order-inner-content">
                <div class="row">
                    <!-- start category content all -->
                    <div class="col-md-9">
                        <div class="ui-order-online-left-side">
                            <div class="row order-online-tab-nav" id="order-online-tab-nav">
                                <div class="col-md-12">
                                    <ul class="list-inline list-unstyled">
                                        <li class="active">
                                            <a href="#" class="orderOnlineTab" id="orderonlineMenuTab"> Menu</a>
                                        </li>
                                        <li>
                                            <a href="#" class="orderOnlineTab" id="orderonlineOfferTab"> Offer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="left-content">
                                <div class="orderonline-menu row">
                                    <!-- start category inner content all -->
                                    <div class="col-md-12 col-sm-12">
                                        <button class="btn btn-default pull-right add-dish-offer-btn">Add Dish</button>
                                        <span class="clearfix"></span>
                                        <!-- start category single content -->
                                        <div class="category-dish-content">
                                            <div id="STARTERS">
                                                <div class="row">
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-12">
                                                        <div class="dish-content">
                                                            <div class="row" style="transition: all 0.50s ease-in-out">
                                                                <div class="col-md-3 dish-img">
                                                                    <img class="img img-responsive img-thumbnail" alt="Image" src="~/img/foodimg/menuitem.jpg" />
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="dish-name">Onion Bhaji (S)</div>
                                                                    <p>Too deep fried balls of sliced onion, in chana daal batter. With mint sauce.</p>
                                                                    <p><b>Allergens Info:</b> <span class="allergensInfo">Crustaceans,Gluten</span></p>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="dish-right-content">
                                                                        <div class="dish-price">£2.80</div>
                                                                        <div class="text-right pull-right btn-remove">
                                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.dish-content -->
                                                    </div>
                                                    <!-- /.col-md-12 -->

                                                </div>
                                            </div>
                                        </div>
                                        <!-- end category single content -->
                                    </div>
                                    <!-- end category inner content all -->
                                </div>
                                <!-- end orderonline-menu -->
                                <!-- offer content -->
                                <div class="orderonline-offer row">
                                    <!-- start category inner content all -->
                                    <div class="col-md-12 col-sm-12">
                                        <button class="btn btn-default pull-right add-dish-offer-btn">Add Dish</button>
                                        <span class="clearfix"></span>
                                        <!-- start category single content -->
                                        <div class="category-dish-content">
                                            <div id="STARTERS">
                                                <div class="row">
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-12">
                                                        <div class="dish-content">
                                                            <div class="row" style="transition: all 0.50s ease-in-out">
                                                                <div class="col-md-3 dish-img">
                                                                    <img class="img img-responsive img-thumbnail" alt="Image" src="~/img/foodimg/menuitem.jpg" />
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="dish-name">Onion Bhaji (S)</div>
                                                                    <p>Too deep fried balls of sliced onion, in chana daal batter. With mint sauce.</p>
                                                                    <p><b>Allergens Info:</b> <span class="allergensInfo">Crustaceans,Gluten</span></p>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="dish-right-content">
                                                                        <div class="dish-price">£2.80</div>
                                                                        <div class="text-right btn-remove pull-right">
                                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.dish-content -->
                                                    </div>
                                                    <!-- /.col-md-12 -->

                                                </div>
                                            </div>
                                        </div>
                                        <!-- end category single content -->
                                    </div>
                                    <!-- end offer content -->
                                </div>
                                <!-- end orderonline-offer -->
                            </div>
                        </div>
                    </div>
                    <!-- end category content all -->
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addItemModel" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">ADD ITEM</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img alt="image" width="113px" height="113px" src="~/img/avatar.png" class="img img-responsive img-thumbnail" style="float:left">
                                </div>
                                <div class="col-md-5">
                                    <label>Select a picture.</label>
                                    <input type="file" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <form>
                                        <div class="form-group">
                                            <label for="comment">Description:</label>
                                            <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form>
                                        <div class="form-group">
                                            <label for="usr">Price:</label>
                                            <input type="number" class="form-control" id="usr">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default">Add</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!--.container-->
    </div>
    <!--#order-online-->
    <!--end order-online-->
    <!-- Content End -->
    <!-- start mobile footer nav -->
    <nav class="navbar navbar-default navbar-fixed-bottom visible-xs visible-sm mobile-cart-nav">
        <div class="mobile-cart-inner-content">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="mobile-cart-item">
                        <a id="mobileCartToggle" href="#"><i class="fa fa-shopping-basket"></i><span id="cart-item"> 10</span></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="mobile-total-amount">Total: &pound;<span id="total-cart-amount">50</span></div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a href="#" class="btn mobile-btn-checkout">Checkout</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end mobile footer nav -->
</main>
<!-- Content End -->

@section ScriptsSrc
{
    <script src="~/js/order-online.js"></script>
    <script src="~/lib/jquery.easing/js/jquery.easing.min.js"></script>
    <script src="~/lib/jquery-sticky/jquery.sticky.js"></script>
}


