
@{
    ViewData["Title"] = "Chef List";
}

@section StyleLink{ 
<link href="~/css/fontello.css" rel="stylesheet" />
}

<!-- Start Pages Title  -->
<section id="page-title" class="page-title-style2">
    <div class="color-overlay"></div>
    <div class="container inner-img">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h6>A Great Service</h6>
                        <h2 class="page-title">Order  from 10 of our best Chefs.</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="breadcrumb-trail breadcrumbs">
                        <span class="trail-begin"><a href="#">Home</a></span>
                        <span class="sep">/</span> <span class="trail-end">Restaurant List</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pages Title  -->
<!-- Content Start -->
<main class="main-content">

    <div class="container internal-body-container">
        <!-- Main container -->
        <div class="row">
            <!-- Main row -->
            <div class="col-md-12 restaurant-list-three">
                <!-- Single Restaurant detail -->
                <div class="row">
                    <!-- Restaurant detail -->
                    <div class="col-xs-12">
                        <div class="item-block">
                            <header>
                                <a href="#"><img src="~/img/logo-google.jpg" alt=""></a>
                                <div class="hgroup">
                                    <h4><a href="#">Bayleaf Indiantakeaway (Ongar)</a></h4>
                                    <h5>Google<span class="label label-warning">Popular</span></h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Menlo park, CA</span>
                                </div>
                            </header>
                            <footer>
                                <p class="status"><strong>Min:</strong> £15</p>
                                <p class="status"><strong>Delivery:</strong> 60 min</p>
                                <p class="status">
                                    <span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span class="review">
                                            (<span>135</span>)
                                        </span>
                                    </span>
                                </p>
                                <div class="action-btn">
                                    <a class="btn btn-xs btn-success" href="#">Offer</a>
                                    <a class="btn btn-xs btn-danger" href="#">Place Order</a>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <!-- END Restaurant detail -->
                </div>
                <!-- End Single Restaurant detail -->
                <!-- Single Restaurant detail -->
                <div class="row">
                    <!-- Restaurant detail -->
                    <div class="col-xs-12">
                        <div class="item-block">
                            <header>
                                <a href="#"><img src="~/img/Bayleaf.jpg" alt=""></a>
                                <div class="hgroup">
                                    <h4><a href="#">Bayleaf</a></h4>
                                    <h5><a href="#">Google</a></h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Menlo park, CA</span>
                                </div>
                            </header>
                            <footer>
                                <p class="status"><strong>Min:</strong> £15</p>
                                <p class="status"><strong>Delivery:</strong> 60 min</p>
                                <p class="status">
                                    <span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span class="review">
                                            (<span>35</span>)
                                        </span>
                                    </span>
                                </p>
                                <div class="action-btn">
                                    <a class="btn btn-xs btn-success" href="#">Offer</a>
                                    <a class="btn btn-xs btn-danger" href="#">Place Order</a>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <!-- END Restaurant detail -->
                </div>
                <!-- End Single Restaurant detail -->
                <!-- Single Restaurant detail -->
                <div class="row">
                    <!-- Restaurant detail -->
                    <div class="col-xs-12">
                        <div class="item-block">
                            <header>
                                <a href="#"><img src="~/img/Bayleaf-Indiantakeaway-Ongar.jpg" alt=""></a>
                                <div class="hgroup">
                                    <h4><a href="#">Bayleaf Indiantakeaway (Ongar)</a></h4>
                                    <h5>Google<span class="label label-success">Special</span></h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Menlo park, CA</span>
                                </div>
                            </header>
                            <footer>
                                <p class="status"><strong>Min:</strong> £15</p>
                                <p class="status"><strong>Delivery:</strong> 60 min</p>
                                <p class="status">
                                    <span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span class="review">
                                            (<span>35</span>)
                                        </span>
                                    </span>
                                </p>
                                <div class="action-btn">
                                    <a class="btn btn-xs btn-success" href="#">Offer</a>
                                    <a class="btn btn-xs btn-danger" href="#">Place Order</a>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <!-- END Restaurant detail -->
                </div>
                <!-- End Single Restaurant detail -->
                <!-- Single Restaurant detail -->
                <div class="row">
                    <!-- Restaurant detail -->
                    <div class="col-xs-12">
                        <div class="item-block">
                            <header>
                                <a href="#"><img src="~/img/Bayleaf.jpg" alt=""></a>
                                <div class="hgroup">
                                    <h4><a href="#">Bayleaf</a></h4>
                                    <h5><a href="#">Google</a></h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Menlo park, CA</span>
                                </div>
                            </header>
                            <footer>
                                <p class="status"><strong>Min:</strong> £15</p>
                                <p class="status"><strong>Delivery:</strong> 60 min</p>
                                <p class="status">
                                    <span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span class="review">
                                            (<span>35</span>)
                                        </span>
                                    </span>
                                </p>
                                <div class="action-btn">
                                    <a class="btn btn-xs btn-danger" href="#">Place Order</a>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <!-- END Restaurant detail -->
                </div>
                <!-- End Single Restaurant detail -->
                <!-- Single Restaurant detail -->
                <div class="row">
                    <!-- Restaurant detail -->
                    <div class="col-xs-12">
                        <div class="item-block mb-0">
                            <header>
                                <a href="#"><img src="~/img/Bayleaf-Indiantakeaway-Ongar.jpg" alt=""></a>
                                <div class="hgroup">
                                    <h4><a href="#">Bayleaf Indiantakeaway (Ongar)</a></h4>
                                    <h5>Google<span class="label label-success">Special</span></h5>
                                </div>
                                <div class="header-meta">
                                    <span class="location">Menlo park, CA</span>
                                </div>
                            </header>
                            <footer>
                                <p class="status"><strong>Min:</strong> £15</p>
                                <p class="status"><strong>Delivery:</strong> 60 min</p>
                                <p class="status">
                                    <span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                        <span class="review">
                                            (<span>35</span>)
                                        </span>
                                    </span>
                                </p>
                                <div class="action-btn">
                                    <a class="btn btn-xs btn-success" href="#">Offer</a>
                                    <a class="btn btn-xs btn-danger" href="#">Place Order</a>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <!-- END Restaurant detail -->
                </div>
                <!-- End Single Restaurant detail -->
            </div>
        </div>
        <!-- Main row end -->
    </div>
    <!-- Main container end -->
</main>
<!-- Content End -->
