@model IEnumerable<FYPFinalKhanaGarKa.Models.Chef>
@{
    ViewData["Title"] = "searchChef";
}

<section class="static-section">
    <div class="col-md-12 static-section" >
        <div class="search-form-wrap2 container">
            <form class="clearfix" action="/chef/searchchef" method="post">
                <div class="select-field-wrap pull-left">
                    <select name="city" class="search-form-select">
                        <option class="options" >SELECT</option>
                        <option class="options" value="Sialkot">SIALKOT</option>
                        

                    </select>
                </div>
                <div class="select-field-wrap pull-left">
                    <select name="area" class="search-form-select">
                        <option class="options" value="Sialkot">SIALKOT</option>
                        <option class="options" value="Daska">DASKA</option>
                        <option class="options" value="Pasrur">PASRUR</option>
                        <option class="options" value="Sambrial">SAMBRIAL</option>


                        <option class="options" value="Kashmir Road">Kashmir Road</option>
                        <option class="options" value="Citi Housing Society">Citi Housing Society</option>
                        <option class="options" value="Askari 2">Askari 2</option>
                        <option class="options" value="Defence Road">Defence Road</option>
                        <option class="options" value="Hajipura Road">Hajipura Road</option>
                        <option class="options" value="Khokhar Town">Khokhar Town</option>
                        <option class="options" value="Sambrial">Sambrial</option>
                        <option class="options" value="Model Town Coop Housing Society">Model Town Coop Housing Society</option>
                        <option class="options" value="Ugoki Road">Ugoki Road</option>
                        <option class="options" value="Cantt">Cantt</option>
                        <option class="options" value="Mag Town">Mag Town</option>
                        <option class="options" value="Toheed Town">Toheed Town</option>
                        <option class="options" value="Iqbal Town">Iqbal Town</option>
                        <option class="options" value="Bharath">Bharath</option>
                        <option class="options" value="Defence Homes Society">Defence Homes Society</option>
                        <option class="options" value="Cantt Avenue">Cantt Avenue</option>
                        <option class="options" value="Khadim Ali Road">Khadim Ali Road</option>
                        <option class="options" value="Wazirabad Road">Wazirabad Road</option>
                        <option class="options" value="Rangpura Road">Rangpura Road</option>
                        <option class="options" value="Hadi Town">Hadi Town</option>
                        <option class="options" value="Jammu Road">Jammu Road</option>
                        <option class="options" value="Askari 1">Askari 1</option>
                        <option class="options" value="Cantt Road">Cantt Road</option>
                        <option class="options" value="Shahab Pura Road">Shahab Pura Road</option>
                        <option class="options" value="AirPort Road">AirPort Road</option>
                        <option class="options" value="Cantt View Colony">Cantt View Colony</option>
                        <option class="options" value="Christien Town">Christien Town</option>
                        <option class="options" value="Jinnah Town">Jinnah Town</option>
                        <option class="options" value="Aziz Garden">Aziz Garden</option>
                        <option class="options" value="Neka Pura">Neka Pura</option>
                        <option class="options" value="Chenab Rangers Road">Chenab Rangers Road</option>
                        <option class="options" value="New MianaPura">New MianaPura</option>
                        <option class="options" value="Nishat Park">Nishat Park</option>
                        <option class="options" value="Daska Road">Daska Road</option>
                        <option class="options" value="Shahab Pura">Shahab Pura</option>
                        <option class="options" value="Aimanabad Road">Aimanabad Road</option>
                        <option class="options" value="Pasrur Road">Pasrur Road</option>
                        <option class="options" value="Khawar Road">Khawar Road</option>
                        <option class="options" value="Church Road">Church Road</option>
                        <option class="options" value="Aziz Bhatti Shaheed Road">Aziz Bhatti Shaheed Road</option>
                        <option class="options" value="Lalazar Colony">Lalazar Colony</option>
                        <option class="options" value="Shatab Garh">Shatab Garh</option>
                        <option class="options" value="Marala Road">Marala Road</option>
                        <option class="options" value="Umer Town">Umer Town</option>
                        <option class="options" value="Nawna Pind Araiyan">Nawna Pind Araiyan</option>
                        <option class="options" value="Sahowali">Sahowali</option>
                        <option class="options" value="Adalat Garh">Adalat Garh</option>
                        <option class="options" value="Fateh Garh Town">Fateh Garh Town</option>
                        <option class="options" value="Zeeshan Colony">Zeeshan Colony</option>
                        <option class="options" value="Kaake Wali">Kaake Wali</option>
                        <option class="options" value="Gulshan Iqbal">Gulshan Iqbal</option>
                        <option class="options" value="Mubarik Pura">Mubarik Pura</option>
                        <option class="options" value="Commissioner Road">Commissioner Road</option>
                        <option class="options" value="Muslim Colony">Muslim Colony</option>
                        <option class="options" value="DinPura">DinPura</option>
                        <option class="options" value="Civil lines">Civil lines</option>
                        <option class="options" value="Jinnah Park Colony No 2">Jinnah Park Colony No 2</option>
                        <option class="options" value="Kachehri Road">Kachehri Road</option>


                    </select>
                </div>


                <div class="submit-field-wrap pull-left">
                    <input name="key-word" class="search-form-submit bgred-1 white" type="submit" value="FIND A CHEF">
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</section>



