@model IEnumerable<FYPFinalKhanaGarKa.Models.Chef>

@{
    ViewData["Title"] = "searchedchefs";
}




<section id="best-restaurant" class="best-restaurant">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="font-lg">Choose from the  <span class="font-semibold chef-red">Best Chef</span></h2>
            </div>
            <!-- col-md-12 -->
        </div>
        <!-- Single Restaurant detail -->
        @foreach (FYPFinalKhanaGarKa.Models.Chef c in Model)
        {
        <div class="row">
            <!-- Restaurant detail -->
            <div class="col-md-6 col-xs-12">

                <div class="item-block">
                    <header>
                        <a href="#"><img src="img/r.jpg" alt=""></a>
                        <div class="hgroup">
                            <h4><a href="#">@c.Name </a></h4>
                            <h5>Pakistani<span class="label label-warning">Popular</span></h5>
                        </div>
                        <div class="header-meta">
                            <span class="location">@(c.Area + " , " + c.City)</span>
                        </div>
                    </header>
                    <footer>
                        <p class="status">
                            <span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>

                                <span class="review">
                                </span>
                            </span>
                        </p>
                        <p class="status"><strong>Min:</strong> Rs: 200</p>
                        <p class="status"><strong>Delivery:</strong> 60 min</p>
                        <div class="action-btn">
                            <a class="btn btn-xs btn-danger" href="user-register.html">Place Order</a>
                        </div>
                    </footer>
                </div>
                
            </div>
            <!-- END Restaurant detail -->
        </div>
        }
    </div>

</section>

