
@{
    ViewData["Title"] = "ComingSoon";
}

<!-- Content Start -->
<!-- Start Pages Title  -->
<section id="page-title" class="page-title-style2">
    <div class="color-overlay"></div>
    <div class="container inner-img">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h6>Great Service</h6>
                        <h2 class="page-title">Coming soon Page</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="breadcrumb-trail breadcrumbs">
                        <span class="trail-begin"><a href="#">Home</a></span>
                        <span class="sep">/</span> <span class="trail-end">Coming soon</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pages Title  -->
<!-- Start Coming Soon -->
<main class="main-content">
    <section id="coming_soon" class="light-wrapper">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="section-coming-soon text-center col-lg-12">
                        <h2>WE ARE COMING SOON</h2>
                        <div class="title-description">
                            <p>TheFoody is a global provider of food. TheFoody has operations in nearly 50 countries serving approximately 100 million coustomers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="divcod30"></div>
                <div class="row">
                    <!-- Coming Soon Starts -->
                    <div class="coming-soon">
                        <!-- Countdown -->
                        <div class="countdown"></div>
                    </div>
                    <!-- Coming Soon Ends -->
                </div>
            </div>
        </div>
    </section>
</main>


<!-- End Coming Soon -->
<!-- Content End -->

@section Scripts
{
<script type="text/javascript">
    /* Countdown */
    $('.countdown').countdown('2018/07/31', function(event) {
        var $this = $(this).html(event.strftime('' +
                '<div class="date">%Y <span>Years</span></div> ' +
                '<div class="date">%m <span>Months</span></div>  ' +
                '<div class="date">%H <span>Hrs</span></div>  ' +
                '<div class="date">%S <span>Sec</span></div> '));
    });
</script>
}
