
@{
    ViewData["Title"] = "Login";
}

@Html.Partial("_PageTitlePartial", ViewData["Title"])
<!-- Content Start -->
<main class="main-content">
    <div class="login-block">
        <img src="~/img/logo_gray.png" alt="">
        <h1>Log into your account</h1>
        <form action="#">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ti-email"></i></span>
                    <input type="text" class="form-control" placeholder="Email or Mobile No.">
                </div>
            </div>
            <hr class="hr-xs">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class=" ti-unlock"></i></span>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <hr class="hr-xs">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class=" ti-unlock"></i></span>
                    <select class="form-control" name="ff" id="ff">
                        <option value="" selected>Customer</option>
                        <option value="">Chef</option>
                        <option value="">Delivery boy</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Login</button>

        </form>
    </div>
    <div class="login-links">
        <a class="pull-left" asp-controller="Home" asp-action="ForgotPassword">Forget Password?</a>
        <a class="pull-right" asp-controller="Home" asp-action="Register">Register an account</a>
    </div>
</main>
<!-- Main container end -->
<!-- Content End -->
@section Scripts
    {
    <script>
        $('body').addClass("login-page");
    </script>
}