
@{
    ViewData["Title"] = "Details";
}

@section StyleLink{
    <link href="~/css/order-online.css" rel="stylesheet" />
}

<!-- Start Pages Title  -->
<section id="page-title" class="page-title-style2">
    <div class="color-overlay"></div>
    <div class="container inner-img">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h6>Great Service</h6>
                        <h2 class="page-title">Order details</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="breadcrumb-trail breadcrumbs">
                        <span class="trail-begin"><a href="#">Home</a></span>
                        <span class="sep">/</span> <span class="trail-end">Order details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pages Title  -->
<!-- Content Start -->
<main class="main-content">

    <!-- Content Start -->
    <section class="cfo-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 account-cfoinfo clearfix">
                    <div class="cfoaccount">
                        <ul class="list-unstyled">
                            <li><a href="myaccount.html"><i class="fa fa-home" aria-hidden="true"></i> My Account</a></li>
                            <li><a href="myaccount.html"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a></li>
                            <li><a href="order-history.html"><i class="fa fa-history" aria-hidden="true"></i> Order History</a></li>
                        </ul>
                    </div>
                    <!-- END OF Myaccount menu  -->
                    <!-- End of account cfoInfo -->
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="cfoorder-info table-responsive">
                        <h2>My order details</h2>
                        <table class="table">
                            <tbody>
                                <tr class="orderth-title">
                                    <th>Restaurant name</th>
                                    <th>Order date</th>
                                    <th>Order type</th>
                                    <th>Payment method</th>
                                    <th>Payment status</th>
                                </tr>
                                <tr class="orderdata-title">
                                    <td>Raymons restaurant</td>
                                    <td>01/12/2015</td>
                                    <td>Delivery</td>
                                    <td>Cash</td>
                                    <td>Not confirmed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="contact-details order-history">
                        <div class="account-table cfoorder-details">
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="orderh-title">
                                        <th>Dish name</th>
                                        <th>Dish category name</th>
                                        <th class="pay-th">Quantity</th>
                                        <th class="pay-th">Dish price</th>
                                        <th class="file-th">Dish ordered price</th>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td class="pay">9</td>
                                        <td class="pay">9.25</td>
                                        <td class="file-view">8.65</td>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td class="pay">1</td>
                                        <td class="pay">0.28</td>
                                        <td class="file-view">7.65</td>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td class="pay">8</td>
                                        <td class="pay">1.2</td>
                                        <td class="file-view">5.65</td>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td class="pay">3</td>
                                        <td class="pay">2.6</td>
                                        <td class="file-view">8.65</td>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td class="pay">3</td>
                                        <td class="pay">2.3</td>
                                        <td class="file-view">9.65</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <div class="orderhistory-total clearfix">
                                <h2><span class="total-title">Total</span> <span class="amount">&pound; 960</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- END OF CONTACT DETAILS SECTION -->
                </div>
            </div>
        </div>
    </section>

    <!-- Main container end -->
</main>
<!-- Content End -->
