
@{
    ViewData["Title"] = "Order History";
}

@section StyleLink
{
<link href="~/css/order-online.css" rel="stylesheet" />
}

<!-- Start Pages Title  -->
<section id="page-title" class="page-title-style2">
    <div class="color-overlay"></div>
    <div class="container inner-img">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h6>Great Service</h6>
                        <h2 class="page-title">Order History</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="breadcrumb-trail breadcrumbs">
                        <span class="trail-begin"><a href="#">Home</a></span>
                        <span class="sep">/</span> <span class="trail-end">Order History</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pages Title  -->
<!-- Content Start -->
<main class="main-content">

    <!-- Content Start -->
    <section class="cfo-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 account-cfoinfo clearfix">
                    <div class="cfoaccount">
                        <ul class="list-unstyled">
                            <li><a href="myaccount.html"><i class="fa fa-home" aria-hidden="true"></i> My Account</a></li>
                            <li><a href="myaccount.html"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a></li>
                            <li><a href="orderhistory.html"><i class="fa fa-history" aria-hidden="true"></i> Order History</a></li>
                        </ul>
                    </div>
                    <!-- END OF Myaccount menu  -->
                    <!-- End of account cfoInfo -->
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="contact-details order-history">
                        <h2>My order history</h2>
                        <div class="account-table">
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="orderh-title">
                                        <th>Order id</th>
                                        <th>Date</th>
                                        <th>Total amount</th>
                                        <th class="pay-th">Payment type</th>
                                        <th class="file-th">View</th>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td>&pound; 189</td>
                                        <td class="pay">Cash</td>
                                        <td class="file-view"><a href="order-details.html"><i class="fa fa-file"></i></a></td>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td>&pound; 189</td>
                                        <td class="pay">Cash</td>
                                        <td class="file-view"><a href="order-details.html"><i class="fa fa-file"></i></a></td>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td>&pound; 189</td>
                                        <td class="pay">Cash</td>
                                        <td class="file-view"><a href="order-details.html"><i class="fa fa-file"></i></a></td>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td>&pound; 189</td>
                                        <td class="pay">Cash</td>
                                        <td class="file-view"><a href="order-details.html"><i class="fa fa-file"></i></a></td>
                                    </tr>
                                    <tr class="orderdata-title">
                                        <td>0112</td>
                                        <td>02.02.16</td>
                                        <td>&pound; 189</td>
                                        <td class="pay">Cash</td>
                                        <td class="file-view"><a href="order-details.html"><i class="fa fa-file"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <div class="orderhistory-total clearfix">
                                <h2><span class="total-title">Total</span> <span class="amount">&pound; 960</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- END OF CONTACT DETAILS SECTION -->
                </div>
            </div>
        </div>
    </section>

    <!-- Main container end -->
</main>
<!-- Content End -->
