
@{
    ViewData["Title"] = "Order";
}

@section StyleLink{
    <link href="~/css/order-online.css" rel="stylesheet" />
}

<!-- Start Pages Title  -->
<section id="page-title" class="page-title-style2">
    <div class="color-overlay"></div>
    <div class="container inner-img">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h6>Great Service</h6>
                        <h2 class="page-title">Order  Online</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="breadcrumb-trail breadcrumbs">
                        <span class="trail-begin"><a href="#">Home</a></span>
                        <span class="sep">/</span> <span class="trail-end">Order Online</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pages Title  -->
<!-- Content Start -->
<main class="main-content">

    <!-- Content Start -->
    <!-- Start order-online-->
    <div id="order-online">
        <div class="container">
            <!-- start order online header top -->
            <div class="row order-online-top-header margin-right-zero">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-pad">
                    <div class="orderonline-search clearfix">
                        <div class="openclose-message">
                            <p>A 24 by 7 Service!</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end order online header top -->

            <div class="order-inner-content">
                <div class="row">
                    <!-- start category content all -->
                    <div class="col-md-9">
                        <div class="ui-order-online-left-side">
                            <div class="row order-online-tab-nav" id="order-online-tab-nav">
                                <div class="col-md-12">
                                    <ul class="list-inline list-unstyled">
                                        <li class="active">
                                            <a href="#" class="orderOnlineTab" id="orderonlineMenuTab"> Menu</a>
                                        </li>
                                        <li>
                                            <a href="#" class="orderOnlineTab" id="orderonlineOfferTab"> Offer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="left-content">
                                <div class="orderonline-menu row">
                                    <!-- start category inner content all -->
                                    <div class="col-md-12 col-sm-12">
                                        <!-- start category single content -->
                                        <div class="category-dish-content">
                                            <div id="STARTERS">
                                                <div class="row">
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-12">
                                                        <div class="dish-content">
                                                            <div class="row" style="transition: all 0.50s ease-in-out">
                                                                <div class="col-md-3 dish-img">
                                                                    <img class="img img-responsive img-thumbnail" alt="Image" src="~/img/foodimg/menuitem.jpg" />
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="dish-name">Onion Bhaji (S)</div>
                                                                    <p>Too deep fried balls of sliced onion, in chana daal batter. With mint sauce.</p>
                                                                    <p><b>Allergens Info:</b> <span class="allergensInfo">Crustaceans,Gluten</span></p>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="dish-right-content">
                                                                        <div class="dish-price">£2.80</div>
                                                                        <div class="text-right ui-order-btn">
                                                                            <a href="#"><i class="fa fa-plus"></i></a>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.dish-content -->
                                                    </div>
                                                    <!-- /.col-md-12 -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end category single content -->

                                    </div>
                                    <!-- end category inner content all -->
                                </div>
                                <!-- end orderonline-menu -->
                                <!-- offer content -->
                                <div class="orderonline-offer row">
                                    <!-- start category inner content all -->
                                    <div class="col-md-12 col-sm-12">
                                        <!-- start category single content -->
                                        <div class="category-dish-content">
                                            <div id="STARTERS">
                                                <div class="row">
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-12">
                                                        <div class="dish-content">
                                                            <div class="row" style="transition: all 0.50s ease-in-out">
                                                                <div class="col-md-3 dish-img">
                                                                    <img class="img img-responsive img-thumbnail" alt="Image" src="img/foodimg/menuitem.jpg" />
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="dish-name">Dhmaka Offer !</div>
                                                                    <p>Too deep fried balls of sliced onion, in chana daal batter. With mint sauce.</p>
                                                                    <p>Plus 1 liter Coca Cola free !</p>
                                                                    <p><b>Allergens Info:</b> <span class="allergensInfo">Crustaceans,Gluten</span></p>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="dish-right-content">
                                                                        <div class="dish-price">£2.80</div>
                                                                        <div class="text-right ui-order-btn">
                                                                            <a href="#"><i class="fa fa-plus"></i></a>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.dish-content -->
                                                    </div>
                                                    <!-- /.col-md-12 -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end category single content -->

                                    </div>
                                    <!-- end category inner content all -->
                                </div>
                                <!-- end orderonline-offer -->
                            </div>
                        </div>
                    </div>
                    <!-- end category content all -->
                    <!-- start cart content -->
                    <div class="col-md-3 ui-order-online-right-side">
                        <div class="mobile-order-online-cart-inner">
                            <div class="ui-order-policy">
                                <ul class="list-inline">
                                    <li>
                                        <input class="custom-radio-big" type="radio" name="order-policy" id="delivery" checked> <label for="delivery">Delivery</label>
                                    </li>
                                    <li>
                                        <input class="custom-radio-big" type="radio" name="order-policy" id="collection"> <label for="collection">Collection</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="right-sidebar-inner-content sticky-content-right-side">
                                <div class="cart-content">
                                    <div class="cfo-cart clearfix">
                                        <div class="cart-info">
                                            <h2>My Order</h2>
                                            <div class="cart-table">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr class="hobtr">
                                                            <td class="cross-td custom-spinner">
                                                                <div class="input-group spinner">
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-plus"></i></button>
                                                                    <input type="text" class="form-control increse-val" value="1">
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-minus"></i></button>
                                                                </div>
                                                                <span class="qnt-idn">1 x</span>
                                                            </td>
                                                            <td class="itme-td">
                                                                Naga Blast
                                                                <span>TOPPINGS:</span>
                                                            </td>
                                                            <td class="amont-td"><i class="fa fa-times-circle-o"></i> <span class="main-price">32</span></td>
                                                        </tr>
                                                        <tr class="hobtr">
                                                            <td class="cross-td custom-spinner">
                                                                <div class="input-group spinner">
                                                                    <span class="qnt-idn">1 x</span>
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-plus"></i></button>
                                                                    <input type="text" class="form-control increse-val" value="1">
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-minus"></i></button>
                                                                </div>
                                                                <span class="qnt-idn">1 x</span>
                                                            </td>
                                                            <td class="itme-td">
                                                                Mushroom Garlic MushroomSpicy
                                                            </td>
                                                            <td class="amont-td"><i class="fa fa-times-circle-o"></i> <span class="main-price">20</span></td>
                                                        </tr>
                                                        <tr class="hobtr">
                                                            <td class="cross-td custom-spinner">
                                                                <div class="input-group spinner">
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-plus"></i></button>
                                                                    <input type="text" class="form-control increse-val" value="1">
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-minus"></i></button>
                                                                </div>
                                                                <span class="qnt-idn">1 x</span>
                                                            </td>
                                                            <td class="itme-td">
                                                                Spicy Garlic MushroomSpicy
                                                            </td>
                                                            <td class="amont-td cro"><i class="fa fa-times-circle-o"></i> <span class="main-price">320</span></td>
                                                        </tr>
                                                        <tr class="hobtr">
                                                            <td class="cross-td custom-spinner">
                                                                <div class="input-group spinner">
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-plus"></i></button>
                                                                    <input type="text" class="form-control increse-val" value="1">
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-minus"></i></button>
                                                                </div>
                                                                <span class="qnt-idn">1 x</span>
                                                            </td>
                                                            <td class="itme-td">
                                                                Spicy Garlic Garlic MushroomSpicy
                                                            </td>
                                                            <td class="amont-td"><i class="fa fa-times-circle-o"></i> <span class="main-price">320</span></td>
                                                        </tr>
                                                        <tr class="hobtr">
                                                            <td class="cross-td custom-spinner">
                                                                <div class="input-group spinner">
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-plus"></i></button>
                                                                    <input type="text" class="form-control increse-val" value="1">
                                                                    <button class="btn btn-default cust-plus" type="button"><i class="fa fa-minus"></i></button>
                                                                </div>
                                                                <span class="qnt-idn">1 x</span>
                                                            </td>
                                                            <td class="itme-td">
                                                                Mushroom Garlic MushroomSpicy
                                                            </td>
                                                            <td class="amont-td"><i class="fa fa-times-circle-o"></i> <span class="main-price">320</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="ui-order-description">
                                                <div class="row color-gray">
                                                    <div class="col-md-8 col-xs-8">
                                                        <p>Subtotal: </p>
                                                    </div>
                                                    <div class="col-md-4 col-xs-4 text-right">
                                                        690
                                                    </div>
                                                </div>
                                                <!-- start offer list -->
                                                <div class="row">
                                                    <div class="offer-list col-md-12 col-xs-12 color-gray">
                                                        <ul>
                                                            <li>
                                                                <input class="custom-radio-small" type="radio" name="of" id="free-bottle">
                                                                <label for="free-bottle">&nbsp;</label><span>Free Bottle of wine</span>
                                                            </li>
                                                            <li>
                                                                <input class="custom-radio-small" type="radio" name="of" id="discount">
                                                                <label for="discount">&nbsp;</label><span>10% discount on orderonline</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- end offer list -->
                                                <div class="row color-gray">
                                                    <div class="col-md-8 col-xs-8">
                                                        <p>Delivery Charge: </p>
                                                    </div>
                                                    <div class="col-md-4 col-xs-4 text-right">
                                                        &pound;5
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8 col-xs-8">
                                                        <p>Total: </p>
                                                    </div>
                                                    <div class="col-md-4 col-xs-4 text-right">
                                                        <span id="order-total-amount" class="order-total-amount">&pound;103</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cfo-checkoutarea">
                                                <a href="/order/process" type="submit" id="a" name="a" class="btn btn-primary btn-block custom-checkout">Proceed to Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Order Info -->
                                </div>
                                <!-- end cart content -->
                                <div class="clearfix"></div>
                                <div class="min-off">
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p>Delivery fee : </p>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    &pound;10
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p>Delivery minimum : </p>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    &pound;200
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- start restaurant offer -->
                        <!--<div class="restaurant-offer">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="row restaurant-offer-info">
                                            <div class="col-md-12">
                                                <div class="restaurant-offer-gift-icon">
                                                    <i class="fa fa-gift" aria-hidden="true"></i>

                                                </div>
                                                <div class="restaurant-offer-description">
                                                    <h6>10% Discount </h6>
                                                    <p>Breast of chicken tikka grilled withBreast of chicken tikka grilled.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="row restaurant-offer-info">
                                            <div class="col-md-12">
                                                <div class="restaurant-offer-gift-icon">
                                                    <i class="fa fa-gift" aria-hidden="true"></i>

                                                </div>
                                                <div class="restaurant-offer-description">
                                                    <h6>10% Discount </h6>
                                                    <p>Breast of chicken tikka grilled withBreast of chicken tikka grilled.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>-->
                        <!-- end restaurant offer -->

                    </div>
                    <!-- end cart content -->
                </div>
            </div>
        </div>
        <!--.container-->
    </div>
    <!--#order-online-->
    <!--end order-online-->
    <!-- Content End -->
    <!-- start mobile footer nav -->
    <nav class="navbar navbar-default navbar-fixed-bottom visible-xs visible-sm mobile-cart-nav">
        <div class="mobile-cart-inner-content">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="mobile-cart-item">
                        <a id="mobileCartToggle" href="#"><i class="fa fa-shopping-basket"></i><span id="cart-item"> 10</span></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="mobile-total-amount">Total: &pound;<span id="total-cart-amount">50</span></div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a href="#" class="btn mobile-btn-checkout">Checkout</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end mobile footer nav -->
</main>
<!-- Content End -->

@section ScriptsSrc{
    <script src="~/js/order-online.js"></script>
    <script src="~/lib/jquery.easing/js/jquery.easing.min.js"></script>
    <script src="~/lib/jquery-sticky/jquery.sticky.js"></script>
}
